{% extends 'base.html' %}

{% block main %}
<div class="main">
    <section class="hero">
        <div class="hero-text">Olá, seja bem vindo(a) ao meu portfólio!</div>
        <div class="main-img">
            <img src='{{ eu }}' alt="eu">   
        </div>
    </section>
    <div class="main-text">
        <div class="italico">Desenvolvedor Fullstack</div>
        <h2>Iago Cardoso Souza</h2>    
    </div>
    <div class="icons">
        <a href="https://github.com/iagocpv/" target="_blank"><img src="../static/img/github-142-svgrepo-com.svg" alt="github"></a>
        <a href="https://www.linkedin.com/in/iago-cardoso-315955194/" target="_blank"><img src="../static/img/linkedin-svgrepo-com.svg" alt="linkedin"></a>
        <a href="mailto:iago.csouza16@gmail.com" target="_blank"><img src="../static/img/email-1572-svgrepo-com.svg" alt="email"></a>        
    </div>
</div>
{% endblock %}