{% extends 'base.html' %}

{% block main %}
<div class="proj-container">
    {% for projeto in projetos %}
    <div class="proj-item">
        <h3>{{projeto['nome']}}</h3>
        {% if projeto['img'] %}
        <img src="{{ projeto['img'] }}" alt="" class="proj-img">
        {% endif%}
        <p class="desc">{{ projeto['desc']}}</p>
        <div class="links">
            {% if projeto['site'] %}
            <a href="{{projeto['site']}}" target="_blank"><img src="../static/img/site-svgrepo-com.svg" alt="" class="icon-link"></a>
            {% endif%}                
            <a href="{{projeto['repo']}}" target="_blank"><img src="../static/img/github-142-svgrepo-com.svg" alt="" class="icon-link"></a>
        </div>
        <h4>Tecnologias utilizadas:</h4>
        <p>{{ projeto['tech'] }}</p>  
    </div>
    {% endfor%}
</div>
{% endblock %}