{% extends 'base.html' %}

{% block main %}
<div class="sobre-mim">
    <section>
        <h3>Sobre mim</h3>
        <p>Olá, sou um desenvolvedor backend em início de carreira, buscando expandir minhas habilidades e experiência. Sou apaixonado por programação e estou comprometido em aprender novas tecnologias e desenvolver soluções eficientes.</p>
    </section>
    <section>
        <h3>Educação</h3>
        <p>Atualmente cursando o 1º semetre de Desenvolvimento de Software Multiplataforma na Fatec de São José dos Campos - Profº Jessen Vidal no período da manhã.</p>
    </section>
    <section>
        <h3>Conhecimentos</h3>
        <p>Java, Javascript, Python, HTML, CSS, Spring, Flask, Postgres, MySql, Git, Scrum, Docker</p>
    </section>
</div>


{% endblock %}