{% extends 'base.html' %}

{% block main %}
<div class="sobre-mim">
    <section>
        <h3>Sobre mim</h3>
        <p>Olá, sou um desenvolvedor em início de carreira, buscando expandir minhas habilidades e experiência.<br>
            Gosto de tecnologia, música, animes, futebol e jogar com os amigos.
        </p>
    </section>
    <section>
        <h3>Educação</h3>
        <p>Atualmente cursando o 2º semetre de Desenvolvimento de Software Multiplataforma na Fatec de São José dos Campos - Profº Jessen Vidal no período da manhã.</p>
    </section>
    <section>
        <h3>Conhecimentos</h3>
        <p>Java, Javascript, Typescript, React, Node, Express, Python, HTML, CSS, Spring, Angular, Flask, Postgres, MySQL, Git, Scrum, Hibernate, TypeORM</p>
    </section>
    <section>
        <h3>Certificações</h3>
        <p>Microsoft Azure Fundamentals - AZ900</p>
    </section>
    <section>
        <h3>Experiência</h3>
        <p>GSW Software - Estágio em Desenvolvimento - 1 ano</p>
    </section>
</div>


{% endblock %}