{% extends 'base.html' %}

{% block main %}
<div class="sobre-mim">
    <div class="sobre-container">
        <div class="sobre-text">
            <h3>Sobre mim</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum veritatis eum provident, explicabo assumenda sed aspernatur excepturi
                 cum quasi ipsam. Ab iure recusandae fugit molestiae itaque autem delectus veniam illum.</p>
        </div>
        <div class="sobre-img"></div>
    </div>
    <div class="educacao">
        <h3>Educação</h3>
        <p>Atualmente cursando o 1º semetre de Desenvolvimento de Software Multiplataforma na Fatec de São José dos Campos - Profº Jessen Vidal no período da manhã.</p>
    </div>
    <div class="skills">
        <h3>Conhecimentos</h3>
        <div></div>
    </div>
</div>


{% endblock %}