html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-size: clamp(1.7rem, 3dvw, 2.4rem);
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-image: linear-gradient(to bottom right, rgb(106, 35, 134) , rgb(148, 78, 20));
    height: 100svh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    background-color: rgb(35, 35, 35);
    padding: 0.75em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons {
    margin: 1em 0;
    padding: 0.5em 0;
    text-align: center;
}
.icons img {
    height: 40px;
    width: 40px;
    margin: 0 0.5em;
}
.icon-link {
    height: 30px;
    width: 30px;
    margin: 0 0.5em;
}
a {
    color: white;
    text-decoration: none;
}
.menu-icon {
    margin-right: 3em;
}
@media only screen and (max-width: 459px){
    nav {
        position: relative;
        display: inline-block;
    }
    nav ul {
        top: 0.95em;
        display: none;
        position: absolute;
        background-color: rgb(75, 75, 75);
        color: white;
        width: 300px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    nav ul li {
        padding: 1em;
        display: block;
    }
}
.show {
    display:block;
}
nav ul {
    list-style: none;
    padding: 0 1em;
    box-sizing: border-box;    
}    
@media only screen and (min-width: 460px){
    .menu-icon {
        display: none;
    }
    nav {
        flex: 1 1 70%;
    }
    nav ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding: 0 1em;
        box-sizing: border-box;
    }    
}
.logo-div {
    flex: 0 1 20%;
    text-align: end;
    display: flex;
    justify-content: center;
    margin-left: 0.5em;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: end;
    font-style: italic;
    padding: 0 1em;
}
.logo img {
    height: 2em;
    width: 2em;
    margin: 0.2em 0.5em;
}

.proj-container {
    margin: 1em;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.proj-item {
    flex: 1 1 20em;
    max-width: 20em;
    background-color: rgba(92, 92, 92, 0.15);
    border-radius: 15px;
    text-align: center;
    padding: 0.5em 1em;
    border: 1px solid rgb(255, 255, 255);
    font-weight: lighter;
    display: flex;
    flex-direction: column;
}

.proj-item .proj-img {
    margin: 0 auto;
    width: 90%;
    height: auto;
    aspect-ratio: 6 / 3.5;
    border-radius: 10px;
}

.proj-item .desc {
    margin-bottom: 2em;
}
.proj-item .links {
    margin-top: auto;
}
.main {
    font-weight: lighter;
    width: 100%;
    text-align: center;
}
.main-text {
    margin: auto 0;
    background-color: rgba(54,54,54,0.1);
    padding-top: 2em;
    padding-bottom: 1.5em;
}
.main-img {
    background-color: rgba(54,54,54,0.5);
}
.main-img img {
    width: clamp(225px, 25svw, 300px);
    height: auto;
    border-radius: 50%;
    margin: 2.5em;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    line-height: 0.5;
    letter-spacing: 2px;
}
h4 {
    margin-bottom: 0;
}
.italico {
    font-style: italic;
}
.sobre-mim {
    font-weight: lighter;
    padding: 2% 1em;
}
.sobre-mim h3 {
    margin-top: 1.5em;
}
.sobre-mim section {
    margin-bottom: 3em;
    text-align: center;
}
.contato-container {
    padding: 1em 5%;
}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contato:nth-of-type(1) {
    width: 20em;
}
.contato:nth-of-type(2) {
    width: 30em;
}
.link-contato {
    text-align: justify;
    margin: 1em auto;
    display: flex;
    align-items: center;
}
.copy-icon {
    height: 25px;
    width: 25px;
    margin-left: 0.8em;
    cursor: pointer;
}
form {
    text-align: center;
}
form h3 {
    text-align: start;
    margin: 2em 0;
}
.inputs {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}
.inputs div {
    flex: 1 1 30em;
    margin-bottom: 2em;
}
input, textarea {
    color: white;
    border: none;
    background-color: rgba(54,54,54,0);   
    margin: 1em 0;
    outline: none;
    padding: 0.3em 1em;
}
input {
    width: 80%;
    border-bottom: 1px solid white;
}

textarea {
    width: 90%;
    border: 1px solid white;
}
.msg {
    text-align: start;
}

#submit-btn {
    color: rgb(35, 35, 35);
    padding: 0.5em 1em;
    background-color: white;
    border: none;
    border-radius: 25px;
    margin-top: 1em;
}
#submit-btn:disabled {
    background-color: rgba(255, 255, 255, 0.411);
}
#submit-btn:enabled {
    cursor: pointer;
}
#copyEmail {
    cursor: pointer;
}